* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Noto Sans KR', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: block;
    background: url("images/banner.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-weight: 500;
}


.banner {
    height: 500px;
    padding-top: 4%;
    text-align: center;
    margin-bottom: 0;
}

.heading {
    padding: 40px;
    width: 70%;
    margin: 0% 15% 0% 15%;
    text-align: center;
    z-index: 10;
    color: floralwhite;
}

.heading h1 {
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 20px;
    border-bottom: 1px solid darkgrey;
    z-index: 10;
}

.heading h2{
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    margin: 20px;
    z-index: 10;
}

.mediaLinksContainer {
    width: 100%;
    overflow: auto;
}

.mediaLinks {
    width: 30%;
    height: 40px;
    margin: 1.6%;
    border: 1px solid darkgrey;
    float: left;
    padding: 5px;
}

.mediaLinks:hover {
    background-color: rgba(255, 250, 240, 0.4);
    cursor: pointer;
}

.mediaLinks img {
    height: 70%;
    margin-top: 5px;
    filter: brightness(0) invert(1);
}

nav {
    overflow: hidden;
    width: 160px;
    top: 500px;
    right: 0px;
    float: right;
    z-index: 9999;
}

.hamburger {
    background: #b30000;
    color: floralwhite;
    height: 80px;
    width: 140px;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamburger:hover{
    cursor: pointer;
}

.lang {
    background-color: #75a3a3;
    color: floralwhite;
    height: 80px;
    width: 140px;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lang:hover{
    cursor: pointer;
}

.menuItems {
    display: none;
}

.menuItems ul {
    margin: 0;
    padding: 0;
}

.menuItems li {
    font-size: 1.2rem;
    text-align: left;
    list-style-type: none;
    height: 60px;
    margin-right: 20px;
    padding: 18px 10px;
    background-color: #ffb3b3;
}

.menuItems li:hover {
    cursor: pointer;
    background-color: #808080;
    color: white;
}

.langHamburger {
    visibility: hidden;
}

.content {
    padding: 0px;
}

.sticky {
    position: fixed;
    top: 0;
}

.aboutMe {
    background-color: #fffaf0;
    height: 550px;
    padding-top: 1%;
}

.aboutMe h1 {
    font-size: 2.5rem;
    font-weight: 100;
    color: #b30000;
    text-align: center;
    border-bottom: 1px solid #75a3a3;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.aboutMeContainer {
    width: 70%;
    margin-left: 15%;
    overflow: auto;
}

.portrait {
    width: 28%;
    float: left;
    position: relative;
    margin-top: 2%;
    overflow: auto;
}

.portraitPhoto img {
    width: 100%;
}

.scrum img {
    width: 50%;
    position: absolute;
    top: 150px;
    right: 0px;
}

.aboutMeText {
    font-size: 1rem;
    float: right;
    width: 65%;
}

.competencies {
    background-color: white;
    height: 840px;
    padding-top: 1%;
}

.competencies h1 {
    font-size: 2.5rem;
    font-weight: 100;
    color: #b30000;
    text-align: center;
    border-bottom: 1px solid #75a3a3;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.competenciesContainer {
    overflow: auto;
}

.keyCompetencies {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.stringsToBow {
    overflow: auto;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 40px;
}

.labelContainer {
    border: 2px solid #75a3a3;
    overflow: auto;

}

.label {
    width: 16.6%;
    float: left;
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.label img {
    background: transparent;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.label p {
    text-align: center;
    margin-top: 5px;
}

.portfolio {
    background-color: #fffaf0;
    height: 820px;
    padding-top: 1%;
}

.portfolio h1 {
    font-size: 2.5rem;
    font-weight: 100;
    color: #b30000;
    text-align: center;
    border-bottom: 1px solid #75a3a3;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.portfolioContainer {
    width: 70%;
    overflow: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.projectContainer {
    width: 45%;
    float: left;
    position: relative;
    padding: 20px;
    margin: 2.5%;
}

.projectContainer img {
    display: block;
    width: 100%;
    height: auto;
}

.projectOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(179, 0, 0, 0.6);
    width: 100%;
}

.githubLink {
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0px;
    font-size: 10px;
    text-align: center;
    line-height: 5;
}

.projectHeading {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

.projectHeading h2 {
    margin-bottom: 0;
    margin-top: 18px;
}

.projectContainer:hover .projectOverlay {
    background-color: rgba(92, 138, 138, 0.5);
    transition: 0.1s;
}

.contactMe {
    background-color: #4d4d4d;
    height: 600px;
    padding-top: 1%;
}

.contactMe h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    border-bottom: 1px solid #75a3a3;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contactsContainer {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.contactRow {
    width: 100%;
    overflow: auto;
}

.contactLinks {
    width: 45.5%;
    height: 90px;
    margin: 1.6%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid darkgrey;
    float: left;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}

.contactLinks p {
    margin: 12px;
    font-size: 2.3rem;
}

.contactLinks:hover {
    background-color: rgba(255, 250, 240, 0.4);
    cursor: pointer;
}

.contactLinks img {
    height: 70%;
    margin-top: 15px;
    filter: brightness(0) invert(1);
}

@media screen and (max-width: 1200px){
    .aboutMe {
        height: 600px;
    }

    .contactLinks p {
        font-size: 2rem;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1100px){
    html {
        font-size: 14px;
    }

    nav {
        width: 120px;
    }

    .hamburger {
        width: 100px;
    }

    .lang {
        width: 100px;
    }

    .menuItems li {
        font-size: 0.9rem;
    }

    .heading {
        width: 90%;
        margin: 0% 5% 0% 5%;
    }

    .aboutMe {
        height: 580px;
    }

    .portfolio {
        height: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .githubLink {
        height: 50px;
        width: 50px;
    }

    .contactLinks p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 880px){
    html {
        font-size: 13px;
    }

    nav {
        overflow: hidden;
        width: 100%;
        background: #b30000;
    }

    .hamburger {
        color: floralwhite;
        height: 60px;
        padding-top: 18px;
    }

    .hamburger:hover{
        cursor: pointer;
    }

    .lang {
        visibility: hidden;
        display: none;
    }

    .menuItems li {
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
    }

    .langHamburger {
        visibility: visible;
    }

    .aboutMe {
        margin-top: 60px;
    }

    .contactLinks p {
        font-size: 1.8rem;
        margin-top: 10px;
    }
}

@media screen and (max-width: 800px) {


    .portfolio {
        height: 1350px;
    }

    .portfolioContainer {
        width: 60%;
        margin: 0 auto;
    }

    .projectContainer {
        width: 90%;
        margin: 20px 5% 20px 5%;
    }

    .projectHeading {
        font-size: 1.5rem;
    }

    .githubLink {
        height: 55px;
        width: 55px;
    }

    .contactLinks {
        width: 98%;
        height: 70px;
    }

    .contactLinks p {
        margin: 0;
        font-size: 2.5rem;
    }

    .contactLinks img {
        margin-top: 10px;
    }
}

@media screen and (max-width: 720px){
    html {
        font-size: 11px;
    }

    .banner {
        height: 380px;
    }

    .heading {
        width: 100%;
        margin: 0 auto;
    }

    .aboutMe {
        height: 1100px;
    }

    .portrait {
        float: none;
        margin: 0 auto;
        width: 40%;
    }

    .aboutMeText {
        float: none;
        margin: 0 auto 30px auto;
        font-size: 1.5rem;
    }

    .competencies {
        height: 1110px;
    }

    .competencies h1 {
        width: 250px;
    }

    .label {
        width: 33%;
    }

    .portfolio {
        height: 1250px;
    }
}

@media screen and (max-width: 650px) {
    .banner {
        padding-top: 0px;
    }

    .heading {
        width: 100%;
        margin: 10% auto 0 auto;
    }

    .aboutMe {
        height: 1150px;
    }

    .heading {
        padding: 5px;
    }

    .aboutMeContainer {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .portfolio {
        height: 1250px;
    }

    .portfolioContainer {
        width: 70%;
        margin: 0 auto;
    }

    .githubLink {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 540px) {
    .portfolio {
        height: 1100px;
    }
}

@media screen and (max-width: 480px) {
    .aboutMe {
        height: 1250px;
    }

    .portfolio {
        height: 1000px;
    }

    .projectHeading {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 425px) {
    .mediaLinks img {
        height: 65%;
    }

    .aboutMe {
        height: 1300px;
    }

    .competencies {
        height: 1060px;
    }

    .label img {
        height: 70px;
    }

    .portfolio {
        height: 920px;
    }

    .contactLinks p {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 400px) {
    .aboutMe {
        height: 1350px;
    }

    .portfolio {
        height: 900px;
    }

    .projectHeading {
        font-size: 1.2rem;
    }

    .githubLink {
        height: 45px;
        width: 45px;
    }
}

@media screen and (max-width: 380px) {
    html {
        font-size: 10px;
    }

    .aboutMe {
        height: 1250px;
    }

    .projectHeading {
        font-size: 1rem;
        margin-top: 5px;
    }

    .projectHeading p {
        margin-top: 5px;
        height: 20px;
        width: 100%;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 330px) {
    html {
        font-size: 9px;
    }

    .aboutMe {
        height: 1100px;
    }

    .competencies {
        height: 950px;
    }

    .label img {
        height: 60px;
    }

    .projectHeading {
        font-size: 0.9rem;
        margin-top: 5px;
    }

    .projectHeading p {
        margin-top: 5px;
        height: 20px;
        width: 100%;
        font-size: 0.8rem;
    }

    .githubLink {
        height: 40px;
        width: 40px;
    }
}